extraConfigMapEnvVars:
  ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.accountsDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
  AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
  ElasticSearchOptions__ElasticSearchUrl: "{{ .Values.elasticSearchUrl }}"
  ElasticSearchOptions__ElasticSearchLogin: "{{ .Values.elasticSearchLogin }}"
  ElasticSearchOptions__ElasticSearchPassword: "{{ .Values.elasticSearchPassword }}"
  HttpUrls__AuthServiceUrl: "{{ .Values.authServiceUrl }}"
    