extraConfigMapEnvVars:
  ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database={{ .Values.authDbName }};Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
  AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
  AuthenticationOptions__PrivateSigningKey: "{{ .Values.privateSigningKey }}"
  ElasticSearchOptions__ElasticSearchUrl: "{{ .Values.elasticSearchUrl }}"
  ElasticSearchOptions__ElasticSearchLogin: "{{ .Values.elasticSearchLogin }}"
  ElasticSearchOptions__ElasticSearchPassword: "{{ .Values.elasticSearchPassword }}"
  ExternalServicesUrls__AccountsServiceUrl: "{{ .Values.accountsServiceUrl }}"
