global:
  postgresql:
    auth:
      postgresPassword: password
      username: postgres
      password: password
      database: postgres

primary:
  service:
    type: NodePort
    nodePorts:
      postgresql: 30100
